<!-- from https://stackoverflow.com/questions/16611497/how-can-i-get-the-name-of-an-html-page-in-javascript -->
<script async type="text/javascript"
    src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.google.tracking_id }}');
    // Send in data
    var path = window.location.pathname.replace(window.location.hostname, '');
    var pageName = path.split("/").pop();
    gtag('config', '{{ site.analytics.google.tracking_id }}',
        {
            page_location: window.location.hostname,
            page_path: path
        }
    );
    pageName = "{{ page.title | default: 'home' }}"
    gtag('event', 'blog_details',
        {
            event_category: pageName,
            event_label: pageName
        }
    ); 
</script>